@media (max-width: 991.98px) {
    .product-responsive{
        width: 400px !important;
        margin: auto !important;
        margin-bottom: 50px !important;
    }
    // .product img{
    //     width: 300px !important;
    //    margin: auto !important;
    // }
  }