<section
  class="w-50 mx-auto rounded shadow bg-main-light py-5 px-3 mt-5 forgot-password forgot-password-responsive"
  *ngIf="step1"
>
  <div class="">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control mt-2"
        id="email"
        formControlName="email"
      />
      <button class="btn-main mt-4">Forgot password</button>
      <p *ngIf="successMsg" class="alert alert-success mt-2">
        {{ successMsg }}
      </p>
      <p *ngIf="errorMsg" class="alert alert-danger mt-2">{{ errorMsg }}</p>
    </form>
  </div>
</section>

<section
  class="w-50 mx-auto rounded shadow bg-main-light p-3 mt-5 forgot-password forgot-password-responsive"
  *ngIf="step2"
>
  <div class="">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
      <label for="resetCode">Reset Code</label>
      <input
        type="text"
        class="form-control mt-2"
        id="resetCode"
        formControlName="resetCode"
      />

      <button class="btn-main mt-4">Reset Code</button>
      <p *ngIf="successMsg" class="alert alert-success mt-2">
        {{ successMsg }}
      </p>
      <p *ngIf="errorMsg" class="alert alert-danger mt-2">{{ errorMsg }}</p>
    </form>
  </div>
</section>

<section
  class="w-50 mx-auto rounded shadow bg-main-light p-3 mt-5 forgot-password forgot-password-responsive"
  *ngIf="step3"
>
  <div class="">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="newPassword()">
      <label for="newPassword">Reset Password</label>
      <input
        type="password"
        class="form-control mt-2"
        id="newPassword"
        formControlName="newPassword"
      />
      <button class="btn-main mt-4">Reset Password</button>
      <p *ngIf="successMsg" class="alert alert-success mt-2">
        {{ successMsg }}
      </p>
      <p *ngIf="errorMsg" class="alert alert-danger mt-2">{{ errorMsg }}</p>
    </form>
  </div>
</section>
